<ng-container *ngFor="let x of worldsData">
  <div class="sliderContentTitle" *ngIf="x.contents.length != 0">
    <a>
      <h3>{{ x.headers.headerLabel }}</h3>
    </a>
  </div>
  <div class="sliderContent" *ngIf="x.contents.length != 0">
    <div class="chevron Left" (click)="arrowLeft($event)"><</div>
    <div class="chevron Right" (click)="arrowRight($event)">></div>
    <div
      class="SliderContentCards"
      *ngFor="let i of x.contents"
      (deferLoad)="x.showID = true"
    >
      <div class="card" *ngIf="x.showID == true">
        <img
          data-src="{{ i.thumbnail }}"
          loading="lazy"
          alt="{{ i.textHead }}"
        />
        <div class="cardContent">
          <h4>{{ i.textHead }}</h4>
          <h5>{{ i.textBody }}</h5>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<!-- <ng-container *ngFor="let x of worldsData">
  <div class="sliderContentTitle" *ngIf="x.contents.length != 0">
    <a>
      <h3>{{ x.headers.headerLabel }}</h3>
    </a>
  </div>
  <div class="chevron Left" (click)="arrowLeft($event)" *ngIf="x.contents.length != 0"> < </div>
  <div class="chevron Right" (click)="arrowRight($event)" *ngIf="x.contents.length != 0"> > </div>
  <virtual-scroller #scroll [items]="x.contents" [horizontal]="true" class="sliderContent" *ngIf="x.contents.length != 0">
    <div *ngFor="let i of scroll.viewPortItems" class="SliderContentCards">
      <div class="card">
        <img data-src="{{ i.thumbnail }}" loading="lazy" alt="{{ i.textHead }}"/>
        <div class="cardContent">
          <h4>{{ i.textHead }}</h4>
          <h5>{{ i.textBody }}</h5>
        </div>
      </div>
    </div>
  </virtual-scroller>
</ng-container> -->

<!-- <ng-container *ngFor="let x of worldsData">
  <div class="sliderContentTitle" *ngIf="x.contents.length != 0">
    <a>
      <h3>{{ x.headers.headerLabel }}</h3>
    </a>
  </div>

  <div #scrollingBlock class="sliderContent" *ngIf="x.contents.length != 0">
      <div class="chevron Left" (click)="arrowLeft($event)"><</div>
      <div class="chevron Right" (click)="arrowRight($event)">></div>
    <virtual-scroller #scroll [items]="x.contents" [parentScroll]="scrollingBlock"  [horizontal]="true">
      <div #container>
        <div class="SliderContentCards" *ngFor="let i of scroll.viewPortItems">
          <div class="card">
            <img
              data-src="{{ i.thumbnail }}"
              loading="lazy"
              alt="{{ i.textHead }}"
            />
            <div class="cardContent">
              <h4>{{ i.textHead }}</h4>
              <h5>{{ i.textBody }}</h5>
            </div>
          </div>
        </div>
      </div>
    </virtual-scroller>
  </div>
</ng-container> -->
