<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css" integrity="sha384-oAOxQR6DkCoMliIh8yFnu25d7Eq/PHS21PClpwjOTeU2jRSq11vu66rf90/cZr47" crossorigin="anonymous">

<H1>Angular Slider with HammerJS </H1>
<div>
  <p>Description</p>
  <ul>
    <li>
      This sample project uses a getWorld call using azure API to get the
      resource data for the slider
    </li>
    <li>
      Go go thread to test this on mobile
      <a
        href="https://stackoverflow.com/questions/4779963/how-can-i-access-my-localhost-from-my-android-device"
        target="_blank"
        >How can I access my localhost from my Android device?</a
      >
    </li>
    <li>See logs to show HammerJS event reponses [disabled]</li>
  </ul>
</div>

<app-slider></app-slider>
